Repository Dushyant-rahangdale/OpsSentinal: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

chore: remove accidental placeholder
  __noop__
Due: none

ci(v1.4): add manual hotfix image publisher
  .github/workflows/v1.4-hotfix-image.yml
Due: npx prettier --write

fix(v1.4): default Compose to hotfix image
  docker-compose.yml
Due: npx prettier --write

docs(v1.4): point env example to hotfix image
  env.example
Due: none

fix(v1.4): pin Kubernetes manifest to hotfix image
  k8s/deployment.yaml
Due: npx prettier --write

fix(v1.4): default Helm chart to hotfix image
  helm/opsknight/Chart.yaml
Due: npx prettier --write

docs(v1.4): document hotfix image deployment
  docs/v1.4/deployment/docker.md
Due: npx prettier --write

docs(v1.4): point Helm guidance to hotfix image
  docs/v1.4/deployment/helm.md
Due: npx prettier --write

docs(v1.4): preserve Helm guidance while pinning hotfix
  docs/v1.4/deployment/helm.md
Due: npx prettier --write

docs(v1.4): mark hotfix image as supported runtime
  docs/v1.4/deployment/README.md
Due: npx prettier --write

ci(v1.4): publish hotfix image from maintenance branch
  .github/workflows/v1.4-hotfix-image.yml
Due: npx prettier --write

test(v1.4): smoke-test hotfix with Docker Compose
  .github/workflows/v1.4-hotfix-image.yml
Due: npx prettier --write

docs(v1.4): add hotfix deployment commands
  HOTFIX-v1.4.0.md
Due: npx prettier --write

fix(db): backport advisory-lock Prisma compatibility to v1.4
  src/lib/db-locks.ts
  tests/integration/db-locks.test.ts
  tests/lib/db-locks.test.ts
Due: npx eslint --fix, npx prettier --write

fix(v1-4): validate hotfix workflow source
  .github/workflows/v1.4-hotfix-image.yml
  README.md
Due: npx prettier --write

docs(v1-4): announce advisory lock hotfix
  README.md
Due: npx prettier --write

Fix/v1.4 hotfix ready (#590)
  .github/workflows/v1.4-hotfix-image.yml
  README.md
  src/lib/db-locks.ts
  tests/integration/db-locks.test.ts
  tests/lib/db-locks.test.ts
Due: npx eslint --fix, npx prettier --write

fix(v1-4): default main Compose to hotfix image
  README.md
  docker-compose.yml
  env.example
Due: npx prettier --write

fix(v1-4): align Kubernetes Helm and docs hotfix
  README.md
  docs/v1.4/deployment/docker.md
  docs/v1.4/deployment/helm.md
  helm/opsknight/Chart.yaml
  helm/opsknight/values.yaml
  k8s/deployment.yaml
Due: npx prettier --write

test(v1-4): accept patched deployment image version
  tests/lib/deployment-config-unit.test.ts
Due: npx eslint --fix, npx prettier --write

test(incident): wait for modal content before tab lookup
  tests/components/incident/CreateIncidentModal.test.tsx
Due: npx eslint --fix, npx prettier --write

Fix/main compose hotfix (#591)
  README.md
  docker-compose.yml
  docs/v1.4/deployment/docker.md
  docs/v1.4/deployment/helm.md
  env.example
  helm/opsknight/Chart.yaml
  helm/opsknight/values.yaml
  k8s/deployment.yaml
  tests/components/incident/CreateIncidentModal.test.tsx
  tests/lib/deployment-config-unit.test.ts
Due: npx eslint --fix, npx prettier --write

fix(status-page): fail closed on stale publication state
  docs/status-page-audit-implementation.md
  docs/v1.5/core-concepts/status-page.md
  src/app/api/status/history/route.ts
  src/app/api/status/route.ts
  src/app/api/status/rss/route.ts
  src/components/status-page/StatusPageSnapshotView.tsx
  src/lib/status-pages/cache-policy.ts
  src/lib/status-pages/snapshot.ts
  src/middleware.ts
  tests/architecture/public-boundary-contract.test.ts
  tests/components/status-page-snapshot-view.test.tsx
  tests/integration/status-page-snapshot.test.ts
  tests/lib/status-page-cache-policy.test.ts
Due: npx eslint --fix, npx prettier --write

fix(status-page): complete snapshot renderer parity
  src/components/status-page/StatusPageSnapshotView.tsx
  src/lib/status-page-public-data.ts
  src/lib/status-pages/snapshot.ts
  tests/components/status-page-snapshot-view.test.tsx
  tests/lib/status-page-public-data.test.ts
Due: npx eslint --fix, npx prettier --write

fix(status-page): avoid dynamic property lookups in snapshot view
  src/components/status-page/StatusPageSnapshotView.tsx
Due: npx eslint --fix, npx prettier --write

fix: correct SLA migration and security findings
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
  src/lib/incident-sla/policy-config.ts
Due: npx eslint --fix, npx prettier --write

fix: unblock SLA policy migration and CI typing
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
  src/app/(app)/incidents/[id]/page.tsx
  src/components/incident-sla/IncidentSlaPolicySettings.tsx
  src/lib/dashboard/dashboard-operational-snapshot.ts
  src/lib/incident-sla/state.ts
  src/types/incident-list.ts
Due: npx eslint --fix, npx prettier --write

fix: support transactional audit test doubles
  src/lib/audit.ts
Due: npx eslint --fix, npx prettier --write

fix: preserve legacy test seams during SLA rollout
  src/lib/incident-sla/policy-config.ts
  src/lib/incidents/creation.ts
Due: npx eslint --fix, npx prettier --write

feat: unify incident SLA contracts and projections
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
  prisma/schema.prisma
  src/app/(app)/incidents/[id]/page.tsx
  src/app/(app)/services/[id]/page.tsx
  src/app/(app)/settings/incident-sla/actions.ts
  src/app/(app)/settings/incident-sla/page.tsx
  src/app/(app)/settings/page.tsx
  src/app/api/sla/stream/route.ts
  src/components/incident-sla/IncidentSlaPolicySettings.tsx
  src/components/incident/IncidentCard.tsx
  src/components/incident/IncidentsListTable.tsx
  src/components/incident/SLABreachWarningBadge.tsx
  src/components/incident/SLAIndicator.tsx
  src/components/incident/detail/IncidentResolutionSummary.tsx
  src/components/incident/detail/IncidentResponseHealth.tsx
  src/components/incident/detail/IncidentSLABadges.tsx
  src/components/settings/navConfig.ts
  src/hooks/useIncidentSlaState.ts
  src/lib/cron-scheduler.ts
  src/lib/events.ts
  src/lib/incident-sla/contract.ts
  src/lib/incident-sla/policy-config.ts
  src/lib/incident-sla/policy-validation.ts
  src/lib/incident-sla/select.ts
  src/lib/incident-sla/state.ts
  src/lib/incident-sla/types.ts
  src/lib/incident-sla/warning-policy.ts
  src/lib/incidents-query.ts
  src/lib/incidents/creation.ts
  src/lib/realtime-cache.ts
  src/lib/sla-breach-monitor.ts
  src/types/incident-list.ts
  tests/components/SLABreachWarningBadge.test.tsx
  tests/lib/incident-sla-policy-config.test.ts
  tests/lib/incident-sla-policy.test.ts
  tests/lib/incident-sla/boundary.test.ts
  tests/lib/incident-sla/state.test.ts
  tests/lib/incident-sla/warning-policy.test.ts
Due: npx eslint --fix, npx prettier --write

test: update SLA monitor fixtures for immutable contracts
  tests/lib/sla-breach-monitor.test.ts
Due: npx eslint --fix, npx prettier --write

fix: complete incident SLA DTO typing
  src/hooks/useIncidentSlaState.ts
  src/lib/dashboard/dashboard-operational-snapshot.ts
  tests/components/IncidentsListRealtime.test.tsx
Due: npx eslint --fix, npx prettier --write

fix: declare legacy SLA trigger fallback variables
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
Due: none

fix: serialize live SLA data safely
  src/app/api/sla/stream/route.ts
  src/components/incident-sla/IncidentSlaPolicySettings.tsx
  src/lib/realtime-cache.ts
  src/types/incident-list.ts
Due: npx eslint --fix, npx prettier --write

fix(sla): seal policy versions and restore migration compatibility
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
  prisma/schema.prisma
  src/app/(app)/services/[id]/page.tsx
  src/app/(app)/settings/incident-sla/page.tsx
  src/app/api/metrics/route.ts
  src/components/incident-sla/IncidentSlaPolicySettings.tsx
  src/lib/incident-sla/contract.ts
  src/lib/incident-sla/policy-config.ts
  src/lib/metrics/operational/registry.ts
  tests/api/metrics.test.ts
  tests/helpers/test-db.ts
  tests/integration/incident-sla-policy.test.ts
  tests/lib/incident-sla-policy-config.test.ts
Due: npx eslint --fix, npx prettier --write

test: align incident list fixtures with SLA contract
  src/hooks/useIncidentSlaState.ts
  src/types/incident-list.ts
  tests/components/IncidentsListTable.test.tsx
Due: npx eslint --fix, npx prettier --write

fix: retain safe SLA trigger fallback for legacy writers
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
Due: none

fix(sla): unify incident contract semantics
  docs/operations/incident-sla-rollout.md
  prisma/migrations/20260907100000_versioned_incident_sla_policy/migration.sql
  src/app/(app)/services/[id]/page.tsx
  src/components/incident-sla/IncidentSlaPolicySettings.tsx
  src/components/incident/SLAIndicator.tsx
  src/lib/cron-scheduler.ts
  src/lib/events.ts
  src/lib/incident-sla/README.md
  src/lib/incident-sla/compliance.ts
  src/lib/incident-sla/deadlines.ts
  src/lib/incident-sla/next-transition.ts
  src/lib/incident-sla/policy-config.ts
  src/lib/incident-sla/state.ts
  src/lib/incident-sla/types.ts
  src/lib/metric-rollup.ts
  src/lib/sla-server.ts
  tests/integration/incident-sla-policy.test.ts
  tests/lib/incident-sla-policy-config.test.ts
  tests/lib/incident-sla/deadlines.test.ts
  tests/lib/incident-sla/next-transition.test.ts
  tests/lib/incident-sla/state.test.ts
Due: npx eslint --fix, npx prettier --write
